@import '../../base_styles/colors.scss';

.InitialModalBlocker{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: rgba(255,255,255, .5);

    .InitialModal{
        @media screen and (min-width: 600px) {
            border: 1px solid black;
        }
        max-width: 500px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        width: 100%;
        background-color: rgba(255,255,255, .95);
        border-radius: 10px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .contentWrapper{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .initialWrapper{
        display: flex;
        width: 90%;
        flex-direction: column;
        font-size: x-large;
        .formError{
            color: $red;
            font-size: medium;
        }
        .formItem{
            background-color: #DDDDDD;
            font-size: x-large;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            width:100%;
        }
    }

    .confirmSection{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        padding: 10px 10px 10px 10px;
    }

    .confirmText{
        font-size: larger;
        text-align: center;
    }

    .confirmTools{
        width: 100%;
        .buttonSection{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        button{
            width: 80%;
            height: 50px;
            font-size: large;
        }
    }
}

