@import '../../base_styles/colors.scss';
@import '../../base_styles/buttons';

.listItem{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    // padding-right: 10px;
    height: auto;
}

.listContent{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    height: 100%;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    &.invoice{
        width: calc(100% - 65px);
    }
    &.customer{
        width: calc(100% - 65px);
    }
}

.listDate{
    font-size: small;
}
.listCategory{
    font-size: small;
    margin-bottom: 10px;
}

.listItemWrapper{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $lightBlueTrans;
    border-radius: 5px;
    flex-direction: column;
    position: relative;
    background-color: white;

    .assignDriver{
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        box-shadow: 2px 2px 1px black;
        cursor: pointer;
        &:hover{
            cursor: pointer;
            background-color: $green;
            box-shadow: 2px 2px 3px black;
        }
        .assignDriverIcon{
            font-size: xx-large;
            height: 32px;
        }
        .assignedFlag{
            position: absolute;
            top: 70px;
            right: -2px;
            font-size: small;
        }
    }

    &.complete{
        &.orange{
            background-color: $orangeTrans;
        }
        &.lightblue{
            background-color: $lightBlueTrans;
        }
    }

    &.cancelled{
        background-color: $gray;
        &.complete{
            background-color: $gray
        }
    }
    // &.orange{
    //     background-color: $orangeTrans;
    //     &.checked{
    //         background-color: darken($orangeTrans, 10%);
    //     }
    // }

    // &.lightblue{
    //     background-color: $lightBlueTrans;
    //     &.checked{
    //         background-color: darken($lightBlueTrans, 10%);
    //     }
    // }
    border: black;
    border-style: solid;

   
    
}

.listToolsWrapper{
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.listItemWrapper{   
    .listToolsWrapper{
        padding-bottom: 10px;
    }
}

.listToolsWrapper{
    &.itemFooter{
        margin-bottom: 10px;
    }
    .tool{
        height: 80%;
        margin-right:10px;
        margin-left: 10px;
        font-size: medium;
        width: 125px;
        position: relative;
        display: flex;
        align-items: center;

        cursor: pointer;
        &:hover{
            cursor: pointer;
        }
    }
}

.listToolsWrapper{
    .listTools{
        display: flex;
        flex-direction: row;
        width: calc(100% - 40px);

        .initial{
            // color:red;
            font-style: italic;
            position: absolute;
            top: 23px;
            left: 43px;
        }
    }
    .listInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        // padding-right:20px;
        // width: 20%;

        .edited{
            margin-block-start:0px;
            margin-block-end: 0px;
        }
        .editTool{
            font-size: x-large;
        }
    }
    & .deleteTool{
        background-color: $red;
        border-radius: 10px;
    }   
}

.listToolsWrapper {
    & .checkTool{
        background-color: $green;
        border-radius: 10px;
    }

    .listItemToolIcon{
        font-size: xx-large;
        &.deleteIcon{
            color: $red;
            @media (hover: hover){
                &:hover{
                    color: darken($red, 30%);
                }
            }
        }

        &.checkIcon{
            @media (hover: hover){
                &:hover{
                    // color:  $yellow;
                }
            }
        }
        @media screen and (min-width: 370px){
            padding-right: 10px;
        }
    }
}

.deleteBtnTool{
    display: flex;
    justify-content: center;
    width: 50px;
    margin-left: 0px;
    margin-right:0px;
    padding-right: 0px;
    position: absolute;
    bottom:50px;
    right: 5px;
    font-size: large;
    font-size: xx-large;
    cursor: pointer;
    &:hover{
        cursor: pointer;
    }
    &.deleteIcon{
        color: $red;
        @media (hover: hover){
            &:hover{
                color: darken($red, 30%);
            }
        }
    }
}

.editBtn{
    display: flex;
    justify-content: center;
    width: 50px;
    margin-left: 0px;
    position: absolute;
    bottom:10px;
    right: 5px;
    font-size: x-large;
    cursor: pointer;
    &:hover{
        cursor: pointer;
    }
}